$primary-color-light: #ffffff;
$bg-color-light: #17171b;
$primary-color-dark: #17171b;
$bg-color-dark: #ffffff;

// CSS variables for runtime use
:root {
  --primary-color-light: #ffffff;
  --bg-color-light: #17171b;
  --primary-color-dark: #17171b;
  --bg-color-dark: #ffffff;
}