@import '../base/_variables.scss';

.card{
    background-color: $bg-color;
    border-style: none;
    border-radius: 20px;
    padding: 25px 20px;
    text-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s ease-in-out;

    &:hover{
        background-color: lighten($color: $bg-color, $amount: 10%);
    }
}