@import '../base/_variables.scss';

.card{
    border-radius: 20px;
    padding: 25px 20px;
    background-color: inherit;

    transition: all 0.1s ease-in-out;
    color: $primary-color;

    h5{
        padding-left: 20px;
        font-weight: 900;
    }

    &:hover{
        background-color: lighten($bg-color, 10%);
    }
}