.navbar-item {
  margin: 5px;

  a {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;

    span {
      margin-left: 10px;
      font-size: 14px;
    }
  }

  .icon-box {
    padding: 10px;
    border-radius: 50%;
    background-color: none;
    display: flex;
    justify-content: center;  
    align-items: center;
  }

  &.active{
    a {
      font-weight: bold;
      color: lighten($color: $bg-color, $amount: 70%);
    }
  }

  &.expanded{
    .icon-box {
      background-color: lighten($color: $bg-color, $amount: 20%);
    }
  }

  &:hover {
    span {
      color: lighten($color: $bg-color, $amount: 70%);
    }

    .icon-box {
      background-color: lighten($color: $bg-color, $amount: 20%);
    }
  }
}


