@import "../base/_variables";

.navbar {
  background-color: transparent;
  color: lighten($color: $bg-color, $amount: 40%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100%;

  .navbar-content {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .navbar-toggle {
      padding: 20px 10px;
      margin-top: auto;

      button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }
}
